*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body{
    background-color: rgba(46, 73, 154, 0.941);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    height: 500px;
    width: 500px;
    border: 20px solid white;
    border-radius: 50%;
    background-color: transparent;
}

.secs-hand {
  width: 5px;
  height: 200px; /* Length of the hand */
  background: red;
  border-radius: 10px;
  position: absolute;
  margin-top: 25px; /* Adjust based on clock size */
  left: 50%;
  transform-origin: bottom; /* Crucial: rotates from the bottom center */
  transform: translateX(-50%); /* Centers it horizontally */
  z-index: 3;
}



.mins-hand {
  width: 10px;
  height: 200px; /* Length of the hand */
  background: black;
  border-radius: 10px;
  position: absolute;
  margin-top: 25px; /* Adjust based on clock size */
  left: 50%;
  transform-origin: bottom; /* Crucial: rotates from the bottom center */
  transform: translateX(-50%); /* Centers it horizontally */
  z-index: 3;
}



.hours-hand {
  width: 10px;
  height: 150px; /* Length of the hand */
  background: black;
  border-radius: 10px;
  position: absolute;
  margin-top: 75px; /* Adjust based on clock size */
  left: 50%;
  transform-origin: bottom; /* Crucial: rotates from the bottom center */
  transform: translateX(-50%); /* Centers it horizontally */
  z-index: 3;
}


